*elpa/*
org-clock-save.el
*games/*
history
recentf
SessionDesktop.el
projectile-bookmarks.eld
*transient/*
*uptimes*
.last-package-update-day
*eshell/*
.session
*request/*
*.emacs.desktop*
*eln-cache
Footer
*auto-save-list
*~